/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  /* Google Fonts*/
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Peso normal da fonte */
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Peso negrito da fonte */
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

/* Variables*/
:root {
  --main-color: #54B689;
  --main-text-color: #ffffff;
  --border-color: #999;
  --bio-bg-color: #1E2A3A;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
}

/* General*/
.highlight {
  color: var(--main-color);
}

body{
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color); /* Adicione isso para garantir que o texto fique branco */
}

/* Containers */
#container {
  display: flex;
  flex-direction: row;
}

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--bio-border-color);
}

#about-container {
  flex: 1 1 80%;
  height: 100%;
  background-color: var(--about-bg-color);
  padding: 50px;
}

/* Bio container */

#bio-container h2 {
  margin-bottom: 25px;
}

#bio-container h1 {
  margin-bottom: 25px;
}
#bio-container p {
  margin-bottom: 20px;
}

#bio-container img {
  width: 150px;
  height: 150px;
}