* {
  font-family: "Roboto", sans-serif;
}

.roboto {
  font-weight: 400; /* Defina um peso, como 400 para regular */
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100; /* Tamanho da largura, se necessário */
}

h1 {
  color: red;
  font-family: "Roboto", sans-serif; /* Garanta que o h1 tenha Roboto */
}
